// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@keyframes movimientoBoton {
	
	0% {left: 0px; top: 0px;}
	12% {left: 1px; top: 1px;}
	25% {left: 2px; top: 2px;}
	37% {left: 1px; top: 3px;}
	50% {left: 0px; top: 4px;}
	67% {left: -1px; top: 3px;}
	75% {left: -2px; top: 2px;}
	87% {left: -1px; top: 1px;}
	
}

@keyframes latirBoton {
	
	0% {
	-webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
	}
	33% {
	-webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
	}
	66% {
	-webkit-transform: scale(0.9);
   	-moz-transform: scale(0.9);
   	-o-transform: scale(0.9);
   	-ms-transform: scale(0.9);
   	transform: scale(0.9);
	}
	100% {
	-webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
	}
	
}



.rellenoSuperior {

	height: 15%;
	
}

.menuInicio{
	overflow: hidden;
	background-image: url('../assets/images/aviva_fondo.png');
	background-size: cover;
	background-position: center center;
}

.tablaMenu {
	
	height: 65%;
	
}

.menuProductos{

	overflow: hidden;
	background-color: whitesmoke;
	//background-image: url('../assets/images/cesped.png');
	background-size: cover;
	background-position: center center;

}

.tablaProductos{
	height: 80%;
	width: 100%;
	padding: 0px;
	ion-item{
				height: 25%;
				width: 100%;
				margin: 5px;
				border-radius: 10px;
				padding: 0px;
				border: 0px;
				ion-grid{ 
					padding: 0px;
					border: 0px;
					margin: 0px;
					ion-row{ 
						padding: 0px;
						border: 0px;
						margin: 0px;
						width: 100%;
						background-color:  #FFBF00;
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;				
						ion-col{
							width: 100%;
							font-size: 2rem;
							font-weight: bold;
							color: white;

				}}}
	}
	
}

.swiper-pagination-bullet-active {
	
	background: #FFBF00 !important;

}

.socialMedia {
	height: 20%;
	width: 100%;
	position: center center;
	img{
		height: 100%;
		width: 100;
		padding: 0px;
		border: 0px;
		margin: 0px;
		position: center center;
	}
}

.idiomas {
	
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

.barraAtras {
	
	height: 100%;
	width: 10%;
	background-color: gray;
}
.standardButton {
	
	background-color: #FFD900;
	font-weight: bold;
	animation-name: latirBoton;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

.standardButton:hover {
	
	background-color: #FFBF00 !important;
	animation-play-state: paused;
}
.standardButtonDer {
	
	//background-color: #FFD900;
	font-weight: bold;
	//border-right: 50px solid #5882FA;
	background: linear-gradient(to left, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -moz-linear-gradient(left, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -webkit-linear-gradient(left, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -o-linear-gradient(left, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	animation-name: latirBoton;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

.standardButtonDer:hover {
	
	background-color: #FFBF00 !important;
	animation-play-state: paused;
}

.standardButtonIz {
	
	//background-color: #FFD900;
	font-weight: bold;
	//border-left: 50px solid #5882FA;
	background: linear-gradient(to right, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -moz-linear-gradient(right, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -webkit-linear-gradient(right, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	background: -o-linear-gradient(right, #5882FA, #5882FA 30%, #FFD900 30%, #FFD900);
	animation-name: latirBoton;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

.standardButtonIZ:hover {
	
	background-color: #FFBF00 !important;
	animation-play-state: paused;
}


.botonInicio {
	
	background-color: #FFD900;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.botonInicio:hover {
	
	background-color: #FFBF00 !important;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.botonInicio:focus {
	
	background-color: #FFBF00 !important;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.noPadding{
	
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.badgeGrande{

	font-size: 3.5rem;
	background-color: #FFBF00 !important;

}
.badgeCobertura{
	background-color: #FFBF00 !important;
	box-shadow: 3px 3px 3px #aaaaaa;
}

.resultado{
	background-image: url('../assets/images/calculadora.png');
	background-size: 100% 100%;
	font-weight: bold;
	ion-card-header{ 
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: rgba(255,191,00,0.9);
		h1{
		font-weight: bold;
		color: #f8f8f8 !important;
	}}
	
 ion-grid{
	background-color: rgba(255,255,255,0.5);
	font-weight: bold;
	border-radius: 10px;
		ion-row {ion-col {h3 {
		font-weight: bold;
		font-size: 1.3rem;
		color: darkblue;
					}h1, h2 {
						font-weight: bold;
						text-align: center;
						border-radius: 10px;
						background-color: #FFBF00 !important;
						color: #f8f8f8;
						box-shadow: 3px 3px 3px #aaaaaa;
					}
	}}
}
}

#vital{
	background-image: url('../assets/images/productos-seguros-salud.png');
	background-size: cover;
	background-position: center center;
}

#vidaentera{
	background-image: url('../assets/images/productos-seguros-vida.png');
	background-size: cover;
	background-position: center center;
}

#unitlinked{
	background-image: url('../assets/images/productos-fondos-inversion.png');
	background-size: cover;
	background-position: right bottom;
}

#pensiones{
	background-image: url('../assets/images/productos-planes-pensiones.png');
	background-size: cover;
	background-position: center top;
}

.imagenProducto{
	width: 100%;
	text-align: center;
	img{
		border-radius: 10px;
		position: center center;
	}
}